/*universal selector*/
* {
  margin: 2px;
  box-sizing: border-box;
}
/*background color*/
body {
  background-color: aliceblue;
  background-image: url("https://cdn.pixabay.com/photo/2014/06/11/17/00/food-366875__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/*class selector in css*/
.format1 {
  border: 2px;
  background-color: #0083ff;
  font-size: larger;
  color: white;
}
/*id selector in css*/
#countdown {
  margin-bottom: 0px;
  font-size: 22px;
  background-color: #0083ff;
  text-align: right;
}

/* css for logo image */
#img {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: none;
  object-position: right top;
  width: 200px;
  height: 200px;
  float: right;
  margin-top: 50px;
  bottom: 270px;
}
/* css for summary heading */
#summary {
  margin-top: 10px;
  text-align: center;
  color: #fee6e3;
  margin-bottom: 10px;
  font-size: 19px;
  letter-spacing: 1px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
  margin: 0px auto;
  background-color: aquamarine;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20 px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  /* width: 24rem; */
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#viewbtn,
#editbtn,
#deletebtn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid rgb(27, 80, 238);
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 14px;
  height: 25px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 10px;
  position: relative;
  text-align: center;
}

#button {
  text-align: center;
  margin-left: 150px;
}

#btn3,
#btn4 {
  margin-top: 30px;
  background-image: linear-gradient(144deg, #170cb4, #5b42f3 50%, #00ddeb);
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  max-width: 100%;
  min-width: 100px;
  padding: 2px;
  margin-left: -100px;
  margin-right: 130px;
}

/*---------------------code for form container start---------------------- */
.container {
  /* margin-top: 40px; */
  margin: 30px auto ;
  width: 60%;
  height: 300px;
  background-color: #98b6da;
  border-radius: 15px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#table0 {
  box-sizing: border-box;
  position: relative;
  /* line-height:45px; */
  background-color: #98b6da;
  width: 600px;
}

.contact-firstcol {
  color: #0f0d36;
  font-weight: bold;
  width: 120px;
  font-size: 19px;
  letter-spacing: 1px;
  border: 1px solid #98b6da;
}

.contact-secondcol {
  color: #0e0d0d;
  width: 50px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #98b6da;
}

.contact-thirdcol {
  width: 600px;
  padding-left: 20px;
  border: 1px solid #98b6da;
}

.form textarea {
  width: 250px;
  max-width: 250px;
  height: 100px;
  max-height: 100px;
  line-height: 150%;
}

/*------------------ code for form container end-------------*/

/*-------- code for table and modal table------ */
#tb {
  border-spacing: 0px;
  width: 850px;
}

#tb td,
#tb th {
  padding: 0.6em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

#tb tr:hover {
  background-color: #06d6a0;
}

#tb th,
#modalTable th {
  color: rgb(255, 255, 255);
  background-color: #0083ff;
  border: color #000305;
}

#modalTable {
  border-spacing: 0px;
  width: 750px;
}

#modalTable th,
#modalTable td {
  padding: 0.6em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
  margin-top: 5px;
}

.error {
  color: red;
  margin: 0px;
  text-align: left;
}

/* for hiding (:) for showing error */
.contact-sec_error {
  color: #0e0d0d;
  color: #0e0d0d;
  width: 50px;
  text-align: center;
  border: 1px solid #98b6da;
  visibility: hidden;
}

.table-container{
  margin: 10px auto;
  width: 100%;
}